@import '~antd/dist/antd.css';

.site-layout-background {
    background-color: #fff;
}

.main-section {
    min-height: 100vh;
}

.content-section {
    margin: 30px;
}

.content-section-wrapper {
    min-height: 100%;
    background: #fff;
}

.page-wrapper {
    min-height: 100%;
}

.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-height {
    height: 100%;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
}
