@import '~antd/dist/antd.css';

.site-layout-background {
    background-color: #fff;
}

.main-section {
    min-height: 100vh;
}

.content-section {
    margin: 30px;
}

.content-section-wrapper {
    min-height: 100%;
    background: #fff;
}

.page-wrapper {
    min-height: 100%;
}
