.word-item-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word-item-info {
    flex: 1;
}

.word-item-info-original {
    border-bottom: 1px solid #f0f0f0;
}

.word-item-info-item {
    font-size: 14px;
    padding: 5px 0;
}

.hide-translate {
    font-style: italic;
    opacity: .8;
    cursor: pointer;
}

.word-item-info img {
    margin-right: 15px;
}